body
{
    background: rgb(245, 225, 225)
    
}
form
{
    display: inline-block;
    margin: 80PX;
}

select
{
    width: 300PX;
    
    padding: 10PX;
}
input
{
    padding: 10px;
    background-color: rgb(180, 128, 128);
    border-radius: 15px;
    border-style: none;

}
