body
{
    background: rgb(245, 225, 225)
    
}
h1{
    
    color: black;
    font-weight:bold;
   
}
.a{
    text-decoration: none;
    color:black;
}
ul{
    list-style-type: none;
}
h3
{
    margin: 30px;
}
.a:hover
{
    color: rgb(104, 17, 17);
    padding: 10px;
    background-color: rgb(190, 77, 77);
}
